body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    background-color: #f5f5f5;
}

#main-grid #global-header ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
  }

#main-grid #global-header ul li a:hover {
    color: black;
}

#main-grid #global-header ul li a:visited {
    color: black;
}

#logo img{
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

#global-header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

#global-header nav a:hover {
    font-size: 20px;
    font-weight: bold;
} 

.slide-container {
    padding: 0rem;
    width: 80%;  
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    scroll-snap-type: x mandatory; 
    overflow-x: auto; 
    scroll-behavior: smooth; 
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide img {
    width: 80%;
    height: 80%;
    border-radius: 3%;
    object-fit: cover;
}

.slide h2{
    position: absolute;
    color: white; 
    font-size: 1.8rem;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;

}

.slide p {
    position: absolute;
    color: white; 
    font-size: 1.1rem;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
}

.btn {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.2rem;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 30%;
    font-weight: bold;
  }

  
.slides::-webkit-scrollbar {
    display: none;
}

#global-footer img{
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

#global-footer {
    display: flex;
    justify-content: space-between; 
    padding: 3rem 5rem;
    background-color: #f5f5f5;
    align-items: flex-start; 
}

#global-footer section {
    flex: 1; 
    margin-right: 3rem;
}

#global-footer .information {
    font-size: 0.9rem;
}

#global-footer .information li {
    margin: 0.5rem 0;
    list-style: none;
}

#global-footer .shortcuts ul {
    list-style: none;
    padding: 0;
}

#global-footer .shortcuts ul li {
    margin: 0.25rem 0;
}

#global-footer .shortcuts ul li a:hover {
    font-weight: bold;
}

#global-footer .shortcuts ul li a{
    text-decoration: none;
    color: black;
}

#global-footer .social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

#global-footer .social-media ul li {
    font-size: 1.5rem;
}

#global-footer .social-media ul li a{
    text-decoration: none;
    color: black;
}