/* Import Roboto fra Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*setter font for sidene, og maks bredde på 1200px*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; /*fjerner og klipper bort innhold som strekker seg utenfor skjermen*/
}

header {
    grid-area: header; /*setter grid-area header*/
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    background-color: #f5f5f5;
}

#main-grid {
    text-align: center;
    grid-template-areas: 
    "header header header" 
    "main main main" 
    "footer footer footer";
}

#main-grid h2{
    font-size: 30px;
}

/*searchbaren*/
header form {
    display: flex;
    align-items: center;
    position: relative; /*lar oss bruke absolutt posisjonering for ikonet*/
    
}

header form input {
    padding: 0.5rem 2.5rem 0.5rem 0.8rem;
    font-size: 1rem;
    border: 1.2px solid #000000; /*sort kant*/
    border-radius: 5px;
    width: 100%;
}

/*searchikonet*/
header form i {
    position: absolute; /*plasseres inne i søkefeltet*/
    right: 10px; 
    top: 25%;
    color: #aaa;
    font-size: 1.2rem;
    pointer-events: none; /*gjør ikonet ikke klikkbart*/
}

/*hjem, produkt osv. knappene*/
#global-header nav {
    display: flex;
    align-items: center; /*sørger for at nav-elementene er på samme linje */
}

#global-header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

#global-header nav a:nth-child(1):hover,
#global-header nav a:nth-child(2):hover,
#global-header nav a:nth-child(4):hover,
#global-header nav a:nth-child(5):hover{ /*alt i nav blir påvirket utenom 3, som er logoen*/
    border-bottom: 3px solid black;
    font-weight: bold;
}

#logo img{
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

/*profil,hjerte og handlekurv ikonene*/
#main-grid #global-header ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
  }

#main-grid #global-header ul li a:hover {
    color: black;
}

#main-grid #global-header ul li a:visited {
    color: black;
}

#main-grid #global-header ul li a i.fa-cart-shopping, #main-grid #global-header ul li a i.fa-heart, #main-grid #global-header ul li a i.fa-user-large {
    transition: transform 0.3s ease; /*glatt overgangseffekt*/
}

#main-grid #global-header ul li a:hover i.fa-cart-shopping, #main-grid #global-header ul li a:hover i.fa-heart, #main-grid #global-header ul li a:hover i.fa-user-large {
    transform: scale(1.5); /*øker størrelsen med 50%*/
}


/*---------------------------------------------------------*/


main {
    grid-area: main; /*setter grid-area main*/
}
.slide-container {
    padding: 0rem;
    width: 80%;  
    margin: auto;
    position: relative;
    background-color: white;
}

.slides {
    display: flex;
    scroll-snap-type: x mandatory; /*gjør det mandatory å snap-scrolle til siden(2 fingre/dra med musepeker)*/
    overflow-x: auto; /*kan gå horisontalt over hvis innhold er bredere enn containere*/
    scroll-behavior: smooth; /*skifte blir smooth mellom slidene*/
    
}

.slide {
    flex: 0 0 100%; /*forkortelse for flex-basis, grown og shrink. 100% er flex-basis*/
    scroll-snap-align: center; /*vil automatisk dra deg til en full slide, slik at du ikke blir "stuck" på en av dem forrige*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*endrer bildene på slideren*/
.slide img {
    width: 90%;
    height: 90%;
    border-radius: 3%;
    object-fit: cover;
}

/*fjerner scrollbaren*/
.slides::-webkit-scrollbar {
    display: none;
}

/*setter overskriften fiksert til bildet*/
.slide h3{
    text-align: right;
    position: absolute;
    color: white; 
    font-size: 2.2rem;
    top: 22%; 
    left: 13%;
    width: 80%;

}

/*setter underteksten fiksert til bildet*/
.slide p {
    text-align: right;
    position: absolute;
    color: white; 
    font-size: 1.1rem;
    top: 40%; 
    left: 13%;
    width: 80%;
}

/*piler for slider*/
.slider-arrow {
    position: absolute;
    top: 50%; /*plasser pilene i midten vertikalt*/
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3); /*halvgjennomsiktig bakgrunn*/
    color: white;
    border: none;
    font-size: 2rem;
    z-index: 10; /*plasserer pilene lengst fremme, slik at de alltid syns*/
    padding: 0.5rem 1rem;
    border-radius: 100%;
}

.left-arrow {
    left: 50px; /*plassering til venstre*/
}

.right-arrow {
    right: 50px; /*plassering til høyre*/
}

/*les mer knappen*/
.btn-slider { 
    position: absolute;
    bottom: 120px;
    left: 82%;
    padding: 1.4rem;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 30%;
    font-weight: bold;
  }

.btn-product {
    margin: 2rem;
    text-decoration: none;
    font-size: 15px;
    color: black;
    border: 2.5px solid black;  /*svart border rundt produkt knapper*/
    border-radius: 30%;
    padding: 0.8rem;
}

.btn-product:nth-child(3){
    background-color: black;
    color: white;
}

.btn-product:hover{
    opacity: 0.7;
    background-color: #000000;
    color: white;
}

#pop-products p {
    margin-bottom: 2rem;
}



/*popular products-gallery*/
#product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    padding-top: 20px;
}

/*styling for hvert produkt*/
.product-item {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: relative;
}

/*bildene*/
.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item a{
    text-decoration: none;
    color:black;
}

/*tittel på produkt*/
.product-item h3 {
    font-size: 1.6rem;
    text-align: left;
    margin-left: 1rem;
}

/*pris på produkt*/
.product-item p {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 1rem;
    color: black;
}

/*stjerner*/
.stars {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    margin: 0.5rem;
}

.stars li {
    font-size: 1.2rem; 
    margin: 2px 5px;
}

/*hjerteknapp*/
.product-item i.fa-heart {
    font-size: 1.5rem;
    color: #aaa;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.product-item i.fa-heart:hover {
    color: rgb(199, 38, 38);
}

.review-count {
    font-size: 0.5rem;
    color: black;
    margin-right: 1rem;
}



/*------------------------------------*/

footer {
    grid-area: footer; /*setter grid-area footer*/
}

#global-footer {
    display: flex;
    justify-content: space-between; 
    padding: 3rem 5rem;
    background-color: #f5f5f5;
    align-items: flex-start; 
}

/*logo i footer*/
#global-footer img{
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

#global-footer section {
    flex: 1; 
    margin-right: 3rem;
}

.information {
    font-size: 0.9rem;
}

.information li {
    margin: 0.5rem 0;
    list-style: none;
}

.shortcuts ul {
    list-style: none;
    padding: 0;
}

.shortcuts ul li {
    margin: 0.25rem 0;
}

.shortcuts ul li a:hover {
    font-weight: bold;
}

.shortcuts ul li a{
    text-decoration: none;
    color: black;
}

.social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.social-media ul li {
    font-size: 1.5rem;
}

.social-media ul li a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 700px) {

    /*endrer grid-malen for mindre skjermer til 1 kolonne*/
    /*definerer main-container som inneholder header, main og footer*/
    #main-grid {
        display: grid;
        grid-template-areas: "header" "main" "footer";
    }

    header{
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    /*legger menypunktene under hverandre (inkl. logoen)*/
    nav{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center; /*sentere navigasjonen horisontalt */
        justify-content: center; /*sentere navigasjonen vertikalt */
        gap: 1rem;
    }

    header form input {
        width: 150px; /*juster størrelse på input-feltet */
    }

    .slide:nth-child(2),.slide:nth-child(3) {
        display: none; /* Viser spesifikt den første sliden */
    }

    .left-arrow,
    .right-arrow{
        display: none;
    }

    .btn-slider{
        position: absolute;
        bottom: 40px;
        left: 78%;
    }
}