/* Import Roboto fra Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*setter font for sidene, og maks bredde på 1200px*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; /*fjerner og klipper bort innhold som strekker seg utenfor skjermen*/
}

#main-grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    text-align: center;
}

#global-header {
    grid-area: header; /*setter grid-area header*/
}

#global-header{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 5rem;
    background-color: white;
}

#main-grid h2{
    font-size: 30px;
}

/*searchbaren*/
#global-header form {
    display: flex;
    align-items: center;
    position: relative; /*lar oss bruke absolutt posisjonering for ikonet*/
}

#global-header form input {
    padding: 0.5rem 2.5rem 0.5rem 0.8rem;
    font-size: 1rem;
    border: 1.2px solid #000000; /*sort kant*/
    border-radius: 5px;
    width: 150px;
}

/*searchikonet*/
#global-header form i {
    position: absolute; /*plasseres inne i søkefeltet*/
    right: 10px; 
    top: 25%;
    color: #aaa;
    font-size: 1.2rem;
    pointer-events: none; /*gjør ikonet ikke klikkbart*/
}

/*hjem, produkt osv. knappene*/
#global-header nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center; /*sørger for at nav-elementene er på samme linje */
    justify-content: center; /*sentere navigasjonen vertikalt */
    gap: 1rem;
}

#global-header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

#logo img{
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

/*profil,hjerte og handlekurv ikonene*/
#main-grid #global-header ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
  }

#main-grid #global-header ul li a:visited {
    color: black;
}


/*---------------------------------------------------------*/


main {
    grid-area: main; /*setter grid-area main*/
}
.slide-container {
    padding: 0rem;
    width: 80%;  
    margin: auto;
    position: relative;
    background-color: white;
}

.slides {
    display: flex;
}

.slide {
    flex: 0 0 100%; /*forkortelse for flex-basis, grown og shrink. 100% er flex-basis*/
    scroll-snap-align: center; /*vil automatisk dra deg til en full slide, slik at du ikke blir "stuck" på en av dem forrige*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*endrer bildene på slideren*/
.slide img {
    width: 90%;
    height: 90%;
    border-radius: 3%;
    object-fit: cover;
}

/*fjerner scrollbaren*/
.slides::-webkit-scrollbar {
    display: none;
}

/*setter overskriften fiksert til bildet*/
.slide h3{
    text-align: right;
    position: absolute;
    color: white; 
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    top: 22%; 
    left: 13%;
    width: 80%;

}

/*setter underteksten fiksert til bildet*/
.slide p {
    text-align: right;
    position: absolute;
    color: white; 
    font-size: 1.1rem;
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    top: 40%; 
    left: 13%;
    width: 80%;
}

.slide:nth-child(2),.slide:nth-child(3) {
    display: none; /*viser spesifikt den første sliden på mobil*/
}

/*piler for slider*/
.slider-arrow {
    position: absolute;
    top: 50%; /*plasser pilene i midten vertikalt*/
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3); /*halvgjennomsiktig bakgrunn*/
    color: white;
    border: none;
    font-size: 2rem;
    z-index: 10; /*plasserer pilene lengst fremme, slik at de alltid syns*/
    padding: 0.5rem 1rem;
    border-radius: 100%;
}

.left-arrow {
    left: 50px; /*plassering til venstre*/
}

.right-arrow {
    right: 50px; /*plassering til høyre*/
}

.left-arrow,
.right-arrow{
    display: none; /*skjuler pilene på mobil*/
}

/*les mer knappen*/
.btn-slider { 
    position: absolute;
    font-size: 0.8rem;
    bottom: 20px;
    left: 75%;
    padding: 0.4rem;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 30%;
    font-weight: bold;
  }

.btn-product {
    margin: 0.2rem;
    text-decoration: none;
    font-size: 15px;
    color: black;
    border: 2.5px solid black;  /*svart border rundt produkt knapper*/
    border-radius: 50px;
    padding: 0.8rem;
}

.btn-product:nth-child(1){
    background-color: black;
    color: white;
}


/*"En smakebit.." tekst får mer plass*/
#product-title p{
    margin-bottom: 2rem;
}

/*popular products-gallery*/
#product-gallery {
    display: grid;
    gap: 10px;
    justify-items: center;
    padding-top: 20px;
}

/*styling for hvert produkt*/
.product-item {
    background-color: #fff;
    padding: 10px;
    min-width: 80%;
    max-width: 100%;
    text-align: center;
    position: relative;
}

/*bildene*/
.product-item img {
    min-width: 90%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item a{
    text-decoration: none;
    color:black;
}

/*tittel på produkt*/
.product-item h3 {
    font-size: 1.6rem;
    text-align: left;
    margin-left: 1rem;
}

/*pris på produkt*/
.product-tekst-placement p {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 1rem;
    color: black;
}

/*tekst for hvor mange reviews*/
.product-item .review-count {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    color: black;
}

/*plassering av product name og prisen*/
.product-tekst-placement{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*plassering av reviews tekst og stjerner*/
.reviews{
    display: flex;
    align-items: center;
}

/*stjerner*/
.stars {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0.5rem;
}

.stars li {
    font-size: 1.2rem; 
    margin: 2px 5px;
}

/*hjerteknapp*/
.product-item i.fa-heart {
    font-size: 4rem;
    color: #aaa;
    position: absolute;
    top: 40px;
    right: 60px;
}

.review-count {
    font-size: 0.5rem;
    color: black;
    margin-right: 1rem;
}



/*------------------------------------*/

#global-footer {
    grid-area: footer; /*setter grid-area footer*/
}

/*generl layout av footer*/
#global-footer {
    display: grid;
    justify-content: space-between; 
    padding: 1rem;
    background-color: white;
    align-items:center;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
}

/*logo i footer*/
#global-footer img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 1.4rem;
}

/*border mellom logo og annmeldelser over, uten bruk av bakgrunnsfarge*/
.top{
    border-top:2px #1a1919 solid;
    padding: 1rem;
}

/*placement i footer*/
.top,
.social-media{
    grid-column: 1 / -1; /*setter logo og socialemedier øverst og nederst i footer med grid*/
}

.information {
    font-size: 0.9rem;
}

.information li {
    margin: 0.5rem 0rem 0rem -2.3rem;
    list-style: none;
}

.shortcuts{
    text-align: right;
    margin-bottom: 3.2rem;
}

.shortcuts ul {
    list-style: none;
    padding: 0;
}

.shortcuts ul li {
    margin: 0.5rem 0;
}

.shortcuts ul li a{
    text-decoration: none;
    color: black;
}

.social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5rem; /*avstanden mellom logoene*/
}

.social-media ul li {
    font-size: 1.5rem;
}

.social-media ul li a{
    text-decoration: none;
    color: black;
}





@media only screen and (min-width: 426px) { /*setter mobilstørrelse alt under 426px*/

    /*endrer grid-malen for skjermer større enn 699px til desktop*/
    /*definerer main-container som inneholder header, main og footer*/
    #main-grid {
        text-align: center;
        grid-template-areas: 
        "header header header" 
        "main main main" 
        "footer footer footer";
    }

    /*setter størrelsen max 1200px, da dette er destopstørrelsen*/
    body{
        max-width: 1200px;
    }

    #global-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #dcdcdc;
    }

    /*hjem, produkt osv. knappene*/
    #global-header nav {
        display: flex;
        align-items: center; /*sørger for at nav-elementene er på samme linje */
        flex-direction: row;
        padding: 0rem;
        justify-content: none;
        gap: 0rem;
    }

    #global-header nav a:nth-child(1):hover,
    #global-header nav a:nth-child(2):hover,
    #global-header nav a:nth-child(4):hover,
    #global-header nav a:nth-child(5):hover{ /*alt i nav blir påvirket utenom 3, som er logoen*/
    border-bottom: 3px solid black;
    font-weight: bold;
}

    #global-header form input {
        width: 100%; /*juster størrelse på input-feltet */
    }

    #main-grid #global-header ul li a:hover {
        color: black;
    }

    #main-grid #global-header ul li a i.fa-cart-shopping, #main-grid #global-header ul li a i.fa-heart, #main-grid #global-header ul li a i.fa-user-large {
        transition: transform 0.3s ease; /*glatt overgangseffekt*/
    }
    
    #main-grid #global-header ul li a:hover i.fa-cart-shopping, #main-grid #global-header ul li a:hover i.fa-heart, #main-grid #global-header ul li a:hover i.fa-user-large {
        transform: scale(1.5); /*øker størrelsen med 50%*/
    }


/*--------------------------*/

    .slides{
        scroll-snap-type: x mandatory; /*gjør det mandatory å snap-scrolle til siden(2 fingre/dra med musepeker)*/
        overflow-x: auto; /*kan gå horisontalt over hvis innhold er bredere enn containere*/
        scroll-behavior: smooth; /*skifte blir smooth mellom slidene*/
    }

    .slide:nth-child(2),.slide:nth-child(3) {
        display: flex; /*viser alle sliders */
    }

    .btn-slider { 
        font-size: 1.2rem;
        padding: 1.4rem;
        bottom: 80px;
        left: 80%;
      }

    .btn-product {
        margin: 1rem;
        font-size: 15px;
        padding: 0.8rem;
    }

    .btn-product:hover{
        opacity: 0.7;
        background-color: #000000;
        color: white;
    }

    .left-arrow,
    .right-arrow{
        display: flex;
    }

    #product-gallery{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Maks 3 produkter per rad */
        max-width: 1200px; /* Maks bredde for galleriet */
        margin: 2%;
    }

    .product-item i.fa-heart{
        font-size: 1.5rem;
        top: 35px;
        right: 60px;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .product-item i.fa-heart:hover {
        color: rgb(199, 38, 38);
    }


/*-------------------------------------------*/

    #global-footer{
        background-color: #dcdcdc;
        grid-template-columns: repeat(3, 1fr); /*tre kolonner for større skjermer */
    }

    .top{
        grid-column: 1 / -1;
    }

    .information{
        grid-column: 1;
        margin-left: 1rem;
    }

    .shortcuts{
        grid-column: 2;
        text-align: left;
        margin-bottom: 0rem;
    }
    
    .social-media{
        grid-column: 3;
        text-align: left;
        margin-right: 1rem;
    }


    .top{
        border-top:0px #1a1919 solid;
    }

    .shortcuts ul li a:hover {
        font-weight: bold; /*gjør knappene mer tydelige når de blir hooverd*/
    }

    .social-media ul li a i.fa-facebook, .social-media ul li a i.fa-pinterest, .social-media ul li a i.fa-instagram, .social-media ul li a i.fa-linkedin {
        transition: transform 0.3s ease; /*glatt overgangseffekt*/
    }

    .social-media ul li a:hover i.fa-facebook, .social-media ul li a:hover i.fa-pinterest, .social-media ul li a:hover i.fa-instagram, .social-media ul li a:hover i.fa-linkedin {
        transform: scale(1.5); /*øker størrelsen med 50%*/
    }
}